USE [LibrarySystem]
GO
/****** Object:  Table [dbo].[Book]    Script Date: 21-02-2020 13:00:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Book](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](250) NOT NULL,
	[Author] [varchar](250) NOT NULL,
	[ISBN] [varchar](250) NOT NULL,
	[Lend] [bit] NOT NULL,
 CONSTRAINT [PK_Book] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LibraryUser]    Script Date: 21-02-2020 13:00:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LibraryUser](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_LibraryUser] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserBook]    Script Date: 21-02-2020 13:00:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserBook](
	[UserId] [int] NOT NULL,
	[BookId] [int] NOT NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Book] ON 

INSERT [dbo].[Book] ([id], [Title], [Author], [ISBN], [Lend]) VALUES (1, N'Matematikbog', N'Jens Andersen', N'0-684-84328-5', 0)
INSERT [dbo].[Book] ([id], [Title], [Author], [ISBN], [Lend]) VALUES (2, N'Danskbog', N'John Hansen', N'0-8044-2957-X', 0)
INSERT [dbo].[Book] ([id], [Title], [Author], [ISBN], [Lend]) VALUES (3, N'Testbog', N'Jonas Weile', N'0-85131-041-9', 0)
SET IDENTITY_INSERT [dbo].[Book] OFF
SET IDENTITY_INSERT [dbo].[LibraryUser] ON 

INSERT [dbo].[LibraryUser] ([id], [name]) VALUES (1, N'Jonas Weile')
INSERT [dbo].[LibraryUser] ([id], [name]) VALUES (2, N'Simon Jensen')
INSERT [dbo].[LibraryUser] ([id], [name]) VALUES (3, N'Mads Hansen')
SET IDENTITY_INSERT [dbo].[LibraryUser] OFF
ALTER TABLE [dbo].[UserBook]  WITH CHECK ADD  CONSTRAINT [FK_UserBook_Book] FOREIGN KEY([BookId])
REFERENCES [dbo].[Book] ([id])
GO
ALTER TABLE [dbo].[UserBook] CHECK CONSTRAINT [FK_UserBook_Book]
GO
ALTER TABLE [dbo].[UserBook]  WITH CHECK ADD  CONSTRAINT [FK_UserBook_LibraryUser] FOREIGN KEY([UserId])
REFERENCES [dbo].[LibraryUser] ([id])
GO
ALTER TABLE [dbo].[UserBook] CHECK CONSTRAINT [FK_UserBook_LibraryUser]
GO
